/* reset css */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
}
/* --------- */

.wrapper {
    min-height: 100%;
    font-family: sans-serif;
    padding: 40px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .footer {
    margin: auto 0 0 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.board-description__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 20px 0;
    border-top: 2px solid rgba(0, 0, 0, .5);
    border-bottom: 2px solid rgba(0, 0, 0, .5);
}

.board-description__info {
    flex: 1 1 0;
}

.board-description__body {
    margin-top: 20px;
    line-height: 1.5em;
}

.board-description__three-playground {
    height: 300px;
    flex: 0 0 300px;
}
